* {
  box-sizing: border-box;
}

html,
body,
ul.nav-tabs,
ul.nav-tabs li {
  padding: 0;
  margin: 0;
}

input#clipboard {
  position: fixed;
  top: -50px;
}

#please-refresh {
  display: none;
  text-align: center;
  width: 260px;
  padding: 8px;
}

#tabpanel {
  display: none;
  width: 675px;
}

.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active:hover > a,
.nav.nav-tabs > li.active:focus > a {
  background-color: dodgerblue;
}

.nav.nav-tabs > li.active > a > img {
  -webkit-filter: invert(100%);
}

ul.nav-tabs {
  float: left;
  width: 75px;
  background: #E3E3E3;
  border: 0;
}

ul.nav-tabs li {
  float: left;
  width: 75px;
  height: 75px;
  border: 0;
  background: transparent;
}

ul.nav-tabs li > a {
  margin: 0;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border-radius: 0;
  padding: 20px;
}

ul.nav-tabs li > a,
ul.nav-tabs li > a:hover,
ul.nav-tabs li > a:focus,
ul.nav-tabs li.active > a,
ul.nav-tabs li.active > a:hover,
ul.nav-tabs li.active > a:focus {
  border: 0;
}

.tab-pane-toolbar {
  position: relative;
  overflow: hidden;
  height: 50px;
  background: #EEE;
  width: 600px;
}

.tab-pane-toolbar h3 {
  margin: 0;
  display: inline-block;
}

.tab-pane-toolbar-table {
  display: none;
  height: 100%;
  width: 100%;
}

.tab-pane-toolbar-table.active {
  display: table;
}

.tab-pane-toolbar-table .toolbar-text {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  padding-left: 14px;
  font-size: 20px;
}

.tab-pane-toolbar-table .toolbar-text span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.tab-content {
  position: relative;
  overflow: hidden;
  min-height: 250px;
}

.tab-content #colors::after,
.tab-content #images::after {
  content: '';
  background: #ffffff url("/img/checkerboard.png") repeat left top;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

span.dark-theme {
  width: 50px;
  height: 50px;
  background-color: #666;
  display: table-cell;
  color: white;
  padding: 0px 8px;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  cursor: pointer;
}

span.dark-theme.dark {
  -webkit-filter: invert(100%);
}

.tab-content.dark #colors::after,
.tab-content.dark #images::after {
  -webkit-filter: invert(100%);
}

.color-square-container {
  position: relative;
  height: 50px;
  width: 50px;
  float: left;
  display: inline-block;
  transition-duration: 100ms;
  cursor: pointer;
}

.color-square {
  height: 50px;
  width: 50px;
  position: absolute;
}

.alert.copied {
  font-size: 1.5rem;
  position: relative;
  top: 8px;
  right: 8px;
  padding: 5px;
  margin: 0;
  white-space: nowrap;
  display: block;
  opacity: 0;
  transition-duration: 200ms;
}

.alert.copied.active {
  opacity: 1;
}

.color-name {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  color: white;
}

.tab-content #colors {
  overflow: auto;
}

.tab-content #fonts {
  background: #FFF;
  padding: 10px;
  font-size: 1.8rem;
}

.tab-content #fonts li {
  list-style: none;
}

.tab-content #fonts a {
  color: black;
}

.tab-content #images img {
  width: 100%;
}

#images-container {
}

.image-square-container {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  position: relative;
}

.image-square-container a {
}

.tab-content #search {
  font-family: arial, sans-serif;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  overflow: visible;
  width: 522px;
  height: 84px;
  margin: auto;
  margin-top: 40px;
  padding: 5px;
  cursor: pointer;
}

.tab-content #search.hover {
  margin-top: 38px;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,.12), 0 4px 4px rgba(0,0,0,.24);
}

.tab-content #search.depressed {
  border: 1px solid #EEE;
  box-shadow: none;
  margin-top: 42px;
}

.tab-content .serp h3 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab-content .serp h3 a {
  color: #1a0dab;
  text-decoration: none;
  font-weight: normal;
}

.tab-content .serp h3 a:hover {
  text-decoration: underline;
}

.tab-content .serp .description-container cite {
  color: #006621;
  font-size: 14px;
  font-style: normal;
  display: block;
}

.tab-content .serp .description-container .description {
  color: #545454;
  line-height: 1.4;
  font-size: small;
  display: block;
}

.noresult {
  text-align: center;
  min-width: 225px;
}

.noresult a {
  text-decoration: none;
}

.noresult a:hover {
  text-decoration: underline;
}
