* {
  box-sizing: border-box;
}

html, 
body, 
ul.nav-tabs,
ul.nav-tabs li {
  padding: 0;
  margin: 0;
}

input#clipboard {
  position: fixed;
  top: -50px;
}

#tabpanel {
  display: none;
  width: 675px;
}

ul.nav-tabs {
  float: left;
  width: 75px;
  background: #E3E3E3;
  border: 0;
}

ul.nav-tabs li {
  float: left;
  width: 75px;
  height: 75px;
  border: 0;
  background: transparent;
}

ul.nav-tabs li > a {
  margin: 0;
  width: 75px;
  height: 75px;
  background-color: transparent;
  padding: 20px;
}

ul.nav-tabs li > a,
ul.nav-tabs li > a:hover,
ul.nav-tabs li > a:focus,
ul.nav-tabs li.active > a,
ul.nav-tabs li.active > a:hover, 
ul.nav-tabs li.active > a:focus {
  border: 0;
}

.tab-content {
  position: relative;
  overflow: hidden;
  min-height: 300px;
}

#colors::after,
#images::after {
  content: '';
  background: #ffffff url("/img/checkerboard.png") repeat left top;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.color-square-container {
  position: relative;
  height: 50px;
  width: 50px;
  float: left;
  display: inline-block;
  transition-duration: 100ms;
}

.color-square {
  height: 50px;
  width: 50px;
  position: absolute;
}

.alert.copied {
  font-size: 1.5rem;
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 5px;
  display: none;
}

.color-name {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  color: white;
}

#colors {
  overflow: auto;
}

#fonts {
  background: #FFF;
  padding: 10px;
  font-size: 1.8rem;
}

#fonts li {
  list-style: none;
}

#fonts a {
  color: black;
}

#images img {
  width: 100%;
}

#images-container {
}

.image-square-container {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  position: relative;
}

.image-square-container a {
}
